<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schoolhub">
    <!-- صلاحية الوصول للإنترنت -->
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Schoolhub">

        <activity
            android:name=".SendSurveyActivity"
            android:exported="true" />
        <activity
            android:name=".AssignmentRepliesActivity"
            android:exported="false"
            />
        <activity
            android:name=".UploadResourceActivity"
            android:exported="true" />
        <activity
            android:name=".TeacherAssignmentsActivity"
            android:exported="false"
             />
        <activity android:name=".ViewRepliesMessageActivity"
            android:exported="false"
            />
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ViewSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewUsersActivity"
            android:exported="false" />
        <activity
            android:name=".BuildTeacherScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".BuildStudentScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".AddSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".loginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- الأنشطة الجديدة الخاصة بالمعلم -->
        <activity android:name=".TeacherDashboardActivity" />
        <activity android:name=".PublishMarksActivity" />

        <activity android:name=".SendAssignmentActivity" />
        <activity android:name=".TeacherScheduleActivity" />
        <activity
            android:name=".AssignmentDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".SurveysActivity"
            android:exported="true" />
        <activity
            android:name=".ResourcesActivity"
            android:exported="true" />
        <activity
            android:name=".ExamsActivity"
            android:exported="true" />
        <activity
            android:name=".MarksActivity"
            android:exported="true" />
        <activity
            android:name=".AssignmentListActivity"
            android:exported="true" />
        <activity
            android:name=".ScheduleActivity"
            android:exported="true" />
        <activity
            android:name=".SurveyDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".StudentMessagesActivity"
            android:exported="true" />
        <activity
            android:name=".ReplyMessageActivity"
            android:exported="true" />
        <activity android:name=".AddTeacherActivity" />
        <activity android:name=".AssignExam" />
        <activity android:name=".SurveyListActivity" />
        <activity android:name=".SurveyAnswerDetailActivity" />
        <activity android:name=".SurveyResponsesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AddPreparationActivity" />
        <activity android:name=".SendMessageActivity" />
        <activity
            android:name=".PreparationActivity"
            android:exported="true" />
        <activity
            android:name=".NewsActivity"
            android:exported="true" />
        <activity
            android:name=".AnnouncementsActivity"
            android:exported="true" />
        <activity
            android:name=".AnnouncementDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".AgendaActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>